/*
 * LAYOUT
 */

footer {
  padding-bottom: 2em;
  text-align: center;
}

/*
 * CATALOG
 */

.product {
  border-bottom: 1px solid #eee;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.product .lead {
  margin-bottom: 0.4em;
}